#footerwaves {
    position: fixed ;
    width: 100%;
    height: 100%;
    bottom: auto;
    left: 0;
    z-index: -1;
    
    .footerwaves {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: auto;
        left: 0;
        z-index: -1;
    }

    @media (min-width: 992px) {
        bottom: -75%;
    }
}

body {
    margin: 0;
}