.contactform {
    width: 100%;
    text-align: center;
    margin-top: 140px;
    font-family: copperplate;
    font-weight: 700;
    font-style: normal;
    border-radius: 5px;

}

textarea {
    font-family: copperplate;
    font-weight: 700;
    font-style: normal;

}

input {
    font-family: copperplate;
    font-weight: 700;
    font-style: normal;

}